# We are using a whitelist instead of blacklist here so exclude all.
**

# Cargo configuration.
!.cargo/
!Cargo.toml
!Cargo.lock

# Build configuration.
!dist/bin/print.sh
!Makefile

# Source code.
!src/
